@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Montserrat:wght@500&family=Oswald&display=swap');

.App
{
    min-height: 200vh;
    font-family: 'Gloock', serif;
}
html::-webkit-scrollbar {
    display: none;
}
/* html::-webkit-scrollbar-track {
     background-color: black;
}
        
html::-webkit-scrollbar-thumb {
    border-radius: 8px;
    height: 60px;
    background-image: url("assets/brave.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60px;
} */